{
    email admin@sigilos.fr
}

sigilos.fr {
    respond "Maintenance en cours. SigilOS revient bientôt." 503
}

beta.sigilos.fr {
    reverse_proxy sigilos-beta:3000
}

monitor.sigilos.fr {
    reverse_proxy sigilos-grafana:3000
}
